/*////////////////////////general/////////////////////////////*/
body, ul, li {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ccc;
}
h1 {
  font-family: "futura-pt", 'Helvetica Neue', 'Arial', sans-serif;
}

h2{
   font-family: "futura-pt", 'Helvetica Neue', 'Arial', sans-serif;
}
p {
  font-family: "raleway", 'Helvetica Neue', 'Arial', sans-serif;
}
/*////////////////////general header styling//////////////////*/
header {
    width: 100%;
    box-sizing: border-box;
    background-color: #607D8B;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: inset 0 2px 6px rgba(0,0,0,.2);
    z-index: 1;
}
    header h1 {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    color: white;
    text-align: center;
    }
    header nav ul li a {
        color: white;
        text-decoration: none;
        border-top: 3px solid #607D8B;
        border-bottom: 3px solid #607D8B;
        display: block;
        box-shadow: 0 -2px 6px -6px rgba(0,0,0,.2), 3px 0px 2px -6px black, -2px 0px 6px -6px black;
        overflow: hidden;
}
header nav ul li a svg:hover{
        fill: #607D8B;
    }
header nav ul li a.active{
        border-bottom: none;
    }
header nav ul li a.link-1,
section#home{ background-color: #1976D2; }
header nav ul li a.link-2,            
section#portfolio{ background-color: #FBC02D; }
header nav ul li a.link-3,            
section#resume{ background-color: #F44336; }
header nav ul li a.link-4,
section#contact{ background-color: #000; }
/*///////////////////////wide screens/////////////////////////*/
@media (min-width: 701px){

    header {
        height: 61px;
        top: 0px;
        left: 0px;
        padding: 0px 0px 0px 30px;
    }
    header h1 {
        font-size: 1.4em;
        float: left;
        margin-left: 0px;
     }
    header nav ul {
        float: right;
        margin-right: 10px;
    }
    svg{
        height: 40px;
        width: 30px
    }
    header nav ul li {
        height: 60px;
        display: inline-block;

    }
   header nav ul li a {
        height: 25px;
        padding: 15px 15px;
    }
    header nav ul li a.active{
        height: 28px;
    }
    section#home { margin-top: 60px;}
}
/*/////////mobile and small screens to prevent nav warp///////*/
@media handheld, (max-width: 700px){

    header {
        height: 100px;
        
        padding-left: 5%;
        padding-right: 5%;
    }
    div#myName{
        height: 40px;
    }
    header h1 {
        font-size: 1.75em;
        margin: 5px 0px;
        margin-left: 0px;
    }
    svg{
        height: 20px;
        width: 20px
    }
    header nav ul li {
        width: 23.5%;
        margin-top: 8px;
        height: 50px;
        display: inline-block;
        text-align: center;

    }
    header nav ul li a {
        height: 20px;
        padding: 10px 10px;
    }

    header nav ul li a.active{
        height: 24.5px;
    }
    section#home{margin-top: 100px;}
    
    section ul img {
        height: 100px;
        width: 120px;
    }
    input{
        color:;
    }
}
/*///////////////////gallery formatting///////////////////////*/
section ul {
    padding: 1em;
    margin: 1em;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content:space-around;
}
/*/////////////////////contact form style//////////////////////*/
.typeform-widget{
    width: 80%;
    height: 350px;
    transform: translateX(15%);
    z-index: -3;
}
/*/////////////////main content formating/////////////////////*/
section {
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
    padding: 25px;
    overflow: hidden;
}
section h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    margin: 0px;
}
section p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    max-width: 80%;
    transform: translateX(15%);
    z-index: -3;
}